<p>home works!</p>

<index-header>
    <div slot="logo-panel">
     
      <index-image alt-text="Logo" src="/src/assets/logo.jpg "></index-image>
    </div>
  
    <div slot="left-panel">
      <index-text-input placeholder="Search" hide-label="true" icon="star" icon-weight='solid'></index-text-input>
    </div>
  
    <div slot="right-panel">
        <index-button type="link" alt-text="Show notifications"><index-icon weight="solid" name="bell" size="x-small"></index-icon></index-button>
        <index-button type="link" alt-text="Show help"><index-icon weight="solid" name="question" size="x-small"></index-icon></index-button>
        <index-dropdown>
            <index-dropdown-item text="hi" value=""></index-dropdown-item>
        </index-dropdown>
    </div>
  </index-header>
  
  <img src="/src/assets/logo.png ">